      
      
      /* change the font face */
        @font-face {
            font-family: 'avenir';
            src: url(./font/AvenirLTStd-Book.otf);
            font-style: normal;
            font-weight: 100;
           
        }

        body {
            font-family: Verdana, 'avenir', Geneva, Tahoma, sans-serif; 
            color: #333333;
            font-size: 12pt;
        }

        /* NAVIGATION BAR */

        /* margins */
        header {
            margin-bottom: 3rem;
        }

        /* container */
        .flex-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        }

        /* ham style */
        .hamburger {
            right: 0;
            position: relative;
            display: block;
            width: 50px;
            cursor: pointer;
            z-index: 100;

            /* reset default style */
            appearance: none;
            background: none;
            outline: none;
            border: none;
        }

        /* creating bars */
        .hamburger .bar, .hamburger:after, .hamburger:before {
            content: '';
            background-color: #333333;
            display: block;
            width: 100%;
            height: 5px;
            margin: 6px 0px;
            transition: 0.4s;
            border-radius: 50px;
        }

        /* changing nav to an X */
        .hamburger.is-active:before {
            transform: rotate(-45deg) translate(-8px, 6px);
            background-color: rgb(255, 255, 255);
        }

        .hamburger.is-active:after {
            transform: rotate(45deg) translate(-8px, -9px);
            background-color: rgb(255, 255, 255);
        }

        .hamburger.is-active .bar {
            opacity: 0%;
        }
        
        /* hamburger nav menu creation */
        .mobile-nav {
            position: fixed;
            display: flex;
            flex-direction: column;
            top: 0;
            left: 100%;
            width: 50%;
            min-height: 100vh;
            display: block;
            z-index: 98;
            background-color: #234876;
            padding-top: 120px;
            transition: 0.4s;
            font-size: 0.9rem;
        }

        .mobile-nav.is-active {
            left: 50%;
        }

       .mobile-nav  a {
            display: block;
            text-align: center;
            width: 100%;
            max-width: 150px;
            padding: 12px 16px;
            margin: 0 auto 16px;
            background-color: rgb(33, 67, 108);

            color: white;
            text-decoration: none;
        }

        /* hover and click styles */
        .mobile-nav  a:hover {
            background-color: #2c5b95;
            transform: scale(1.1);
        }

        .mobile-nav  a:active {
            color: rgb(190, 196, 201);
            background-color: #1c395c;
            transform: scale(0.9);
        }

        /* nav images */

        .nav-logo {
            height: 3rem;
        }

        .dark-light {
            height: 3rem;
        }

        /* other images */

        .calc-img {
            height: 7rem;
        }

        .hands {
            height: 10rem;
        }

        .brain {
            height: 10rem;
        }

        /* gear animation */
        .gear-animate {
            margin: 0 auto 0;
            width: 9rem;
            height: 8rem;
        }

        .gear1 {
            display: block;
            position:relative;
            margin: 0 auto;
            right: -1.4rem;
            top: 2.5rem;
            animation-name: rotate;
            animation-duration: 3s;
            animation-timing-function:ease-in-out;
            animation-iteration-count: infinite; 
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
              }
              to {
                transform: rotate(359deg);
              }
        }

        .gear2 {
            display: block;
            margin: 0 auto;
            position: absolute;
            top: 8.2rem;
            animation-name: rotate;
            animation-duration: 3s;
            animation-timing-function:ease-in-out;
            animation-iteration-count: infinite; 
        }


        /* font styles */
        p {
            text-indent: 1rem;
        }
        
        h1 {
            font-size: 1.3rem;
            text-align: center;
            color: #234876;
        }

        h2 {
            font-size: 1.2rem;
            color: #234876;
            margin-bottom: 1rem;
        }

        dt {
            font-weight: bold;
            font-size: 0.9rem;
        }

        dd {
            text-indent: 1rem;
            margin: 1rem;
        }        

   
        
      /* buttons */
  
        .cta-btn, .calc-btn {
            text-decoration: none;
            color: white;
            background-color: #234876;
            padding: 0.5rem;
            border-radius: 10px;
        }

        .btn-contain, .calc-btn-contain {
            margin: 1.5rem;
        }

        .btn-contain a:hover {
            background-color: #69809d;
            transform: scale(1.1);
        }

        .btn-contain  a:active {
            color: rgb(190, 196, 201);
            background-color: #1c395c;
            transform: scale(0.9);
        }

        /* grid/flex */
        section {
            width: 90%;
            margin: 0 auto;
        }

        main {
            display: grid;
            justify-content: center;
            grid-template-columns: 2;
            grid-template-rows: auto;
            text-align: center;
            gap: 2rem;
        }

        .orange-container {
            background-color: rgb(2555, 255, 255, 0.5);
            border: 7px solid #FFA500 ;
            border-radius: 30px ;
            padding: 1rem;
        }

        /* calculator style */

        .calc-container {
            display: flex;
            flex-direction: column;
        }

        .calc-btn-contain {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 20rem;
            margin: 0 auto;
            margin-top: 2rem;
        }

        .calc-btn-contain a {
            font-size: 0.9rem
        }

        .results {
            font-size: 25pt;
            margin: 0 auto;
            margin-bottom: 3rem;
            padding: 1rem;
            border: 3px solid orange;
        }


        /* contact page */
        .contact-info {
            display: flex;
            flex-direction: column;

        }
        .contact-info a {
            text-decoration: none;
            color:#FFA500;
        }

        /* phone animation */

        .phone {
            height: 6rem;
        }

        .phone-animate {
            animation-name: ring;
            animation-duration: 3s;
            animation-timing-function:ease-in-out;
            animation-iteration-count: infinite; 
        }

        @keyframes ring {
            0% {
                transform: rotate(0);
            }

            25% {
                transform: rotate(15deg);
            }

            50% {
                transform: rotate(0)
            }

            75% {
                transform: rotate(15deg);
            }

            100% {
                transform: rotate(0deg);
            }

        }

        /* footer */
        .footer {
            position:absolute;
            margin-top: 2rem;
            background-color: #FFA500;
            width: 100vw;
            height: 12rem;
            right: 0;
            left: 0;
        }

        .calc-note {
            max-width: 500px;
            font-size: 0.8rem;
            font-style: italic;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 3rem;
        }

        .logo {
            display: block;
            height: 3rem;
            margin: 0 auto;
            margin-bottom: 2rem;
        }

        .links {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 30rem;
        }

        .links a {
            text-decoration: none;
            color:white;
            text-align: center;
            width: 100px;
            padding: 12px 16px;
            margin: 0 auto 16px;
            border-radius: 10px;
            background-color: rgb(33, 67, 108);
        }

        .links a:hover {
            background-color: #69809d;
            transform: scale(1.1);
        }

        .links  a:active {
            color: rgb(190, 196, 201);
            background-color: #1c395c;
            transform: scale(0.9);
        }